<a href="https://colab.research.google.com/github/anushabhuchupalli/ML-lab/blob/main/Desicion_tree_classification_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix

In [3]:
df=pd.read_csv("/content/diabetes_prediction_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [4]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [30]:
X=df.drop(['diabetes','gender','smoking_history'],axis=1)
y=df['diabetes'].values

In [31]:
X.shape,y.shape

((100000, 6), (100000,))

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.025, random_state=0)

In [95]:
scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)

In [96]:
model = DecisionTreeClassifier()
model = model.fit(X_train,y_train)
X_test=scaler.transform(X_test)

In [97]:
y_pred = model.predict(X_test)

In [98]:
 model.score(X_train,y_train),model.score(X_test,y_test)

(0.9970358974358975, 0.9572)

In [106]:
confusion_matrix(y_test,y_pred)

array([[2232,   52],
       [  55,  161]])

In [103]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98      2284
           1       0.76      0.75      0.75       216

    accuracy                           0.96      2500
   macro avg       0.87      0.86      0.86      2500
weighted avg       0.96      0.96      0.96      2500

In [104]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9572