<a href="https://colab.research.google.com/github/anushabhuchupalli/ML-lab/blob/main/pandas_fml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
k=pd.Series([1,2,3,4])
print(k)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
import pandas as pd
k=pd.DataFrame({"c1":["a","b","c","d"],
                "c2":[1,2,3,4],
                "c3":[12,13,14,15]})
print(k)

  c1  c2  c3
0  a   1  12
1  b   2  13
2  c   3  14
3  d   4  15

In [ ]:
import pandas as pd
list=[[1,2],[3,4],[5,6],[7,8]]
s=pd.DataFrame(list)
print(s)

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [ ]:
import pandas as pd
d1=({'sub_id':[1,2,3,4],
     'sub_name':['anu','john','kiran','man']})
d2=({'sub_id':[1,2,3,4],
          'sub_name':['keerthi','charan','navya','karthik']})
k=pd.DataFrame(d1)
m=pd.DataFrame(d2)
l=pd.merge(k,m,on="sub_id")
print(l)

   sub_id sub_name_x sub_name_y
0       1        anu    keerthi
1       2       john     charan
2       3      kiran      navya
3       4        man    karthik

In [ ]:
import pandas as pd
raw = {
    'Name': ['John', 'kiran', 'Grace', 'Grace', 'Benjamin'],
    'Position': [2, 1, 1, 4, 2],
    'Year': [2009, 2010, 2009, 2010, 2010],
    'Marks':[408, 398, 422, 376, 401]
}
df3 = pd.DataFrame(raw)
group = df3.groupby('Year')
print(group.get_group(2010))

       Name  Position  Year  Marks
1     kiran         1  2010    398
3     Grace         4  2010    376
4  Benjamin         2  2010    401

In [ ]:
import pandas as pd
k=({"c1":[1,2,3,4,5],
     "c2":['john','anu','kiran','navya','manu']})
d=pd.DataFrame(k)
d.describe()

             c1
count  5.000000
mean   3.000000
std    1.581139
min    1.000000
25%    2.000000
50%    3.000000
75%    4.000000
max    5.000000